$primary-color: #8080c0;
$black: #000000;
$white: #ffffff;
$bg-light: #f2f2f2;
$bg-body: #f2f4f7;
$border-light: #dddddd;
$hovered-bg-color: #6262ab;
$text-color: #444444;
$text-color-light: #555555;
$red05: rgba(255,0,0,0.5);
$btnstyle2-bg: #444444;